@keyframes deletion {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes outInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Play", sans-serif; }

.heading-primary {
  font-size: 5rem;
  color: #fff;
  letter-spacing: 1rem;
  text-shadow: 0.2rem 0.2rem 0.4rem #000;
  margin-bottom: 1.5rem;
  text-align: center; }

.heading-secondary {
  font-size: 4rem;
  color: rgba(239, 5, 12, 0.75);
  letter-spacing: 0.5rem;
  text-shadow: 0.2rem 0.2rem 0.4rem #000;
  margin-bottom: 1.5rem;
  text-align: center; }

.heading-tertiary {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  text-align: center; }

.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: rgba(192, 192, 192, 0.9);
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 900;
  transition: all 0.2s;
  backface-visibility: hidden; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem #000; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem #000; }

.slide {
  width: 100%;
  height: 100vh;
  position: absolute; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .header__presentation {
    width: 100%;
    height: 100vh; }
  .header__bcg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0; }
  .header__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    animation: deletion 3s linear forwards; }
  .header__information {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative; }
  .header__left {
    position: absolute;
    left: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translateX(-100%);
    background-color: rgba(255, 255, 255, 0.45);
    animation: moveInLeft 0.8s linear forwards; }
  .header__presentation-img {
    opacity: 0;
    animation: outInOpacity 0.5s 1.2s linear forwards;
    max-height: 70%; }
  .header__right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    background-color: rgba(36, 36, 36, 0.3);
    animation: moveInRight 0.8s linear forwards; }
  .header__heading-box {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: outInOpacity 0.5s 1.2s linear forwards; }
  .header__top {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2; }
  .header__container {
    width: 80%;
    padding: 1.5rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: block;
    height: 5rem; }
  .header__nav-list {
    list-style: none;
    display: flex; }
  .header__nav-item:not(:last-child) {
    margin-right: 2rem; }
  .header__nav-link:link, .header__nav-link:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    transition: all 0.3s; }
    .header__nav-link:link:hover, .header__nav-link:visited:hover {
      color: #e31e24; }
  .header__nav-link--js {
    display: flex;
    margin-right: 1.5rem;
    position: relative; }
    .header__nav-link--js:hover {
      color: white; }
  .header__icon-link {
    top: -3px;
    right: -23px;
    position: absolute;
    height: 2.25rem;
    width: 2.25rem;
    fill: #e31e24;
    transform: rotate(180deg); }
  .header__nav-link--js:hover .header__icon-link {
    fill: white;
    transition: 0.2s; }
  .header__contact {
    display: flex; }
  .header__contact-link:link, .header__contact-link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    transition: 0.3s; }
    .header__contact-link:link:not(:last-child), .header__contact-link:visited:not(:last-child) {
      margin-right: 1.5rem; }
    .header__contact-link:link:hover, .header__contact-link:visited:hover {
      color: #e31e24; }
  .header__contact-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: rgba(255, 255, 255, 0.7); }
    .header__contact-icon:not(:last-child) {
      margin-right: 0.5rem; }
  .header__contact-link:hover .header__contact-icon {
    fill: #e31e24;
    transition: 0.2s; }
