.header{
  width: 100%;
  height: 100vh;
  position: relative; 
  overflow: hidden;
  &__presentation{
    width: 100%; 
    height: 100vh; 
  }
  &__bcg{
    width: 100%;
    height: 100%;
    background-color: $color-bcg;
    position: absolute;
    top: 0;
    left: 0;  
  }
  &__img{
    width: 100%;
    height: 100%;
    position: absolute;  
    top: 0;
    left: 0;
    z-index: -2;
    animation: deletion 3s linear forwards;      
  }
  &__information{
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  &__left{    
    position: absolute; 
    left: 0; 
    width: 50%;     
    display: flex; 
    align-items: center;
    justify-content: center;  
    height: 100vh;  
    transform: translateX(-100%); 
    background-color: $color-bcg-2; 
    animation: moveInLeft 0.8s linear forwards;      
  } 
  &__presentation-img{
    opacity: 0;
    animation: outInOpacity 0.5s 1.2s linear forwards; 
    max-height: 70%;     
  }
  &__right{
    position: absolute; 
    right: 0;  
    width: 50%;       
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    background-color: $color-bcg-3;
    animation: moveInRight 0.8s linear forwards; 
  }
  &__heading-box{
    width: 100%; 
    text-align: center; 
    opacity: 0;  
    animation: outInOpacity 0.5s 1.2s linear forwards;
  }
  &__top{
    position: absolute; 
    width: 100%; 
    top: 0;
    z-index: 2;  
  }
  &__container{ 
    width: 80%;
    padding: 1.5rem 0;   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  &__logo{
    display: block;
    height: 5rem;  
  }
  &__nav-list{
    list-style: none;
    display: flex;  
  }
  &__nav-item:not(:last-child){
    margin-right: 2rem; 
  }
  &__nav-link:link,
  &__nav-link:visited{
    display: block;
    text-decoration: none;
    color: $white; 
    font-family: $font-secondary; 
    font-size: 1.8rem;
    font-weight: 300; 
    transition: all 0.3s;
    &:hover{
      color:$color-red;  
    }
  }
  &__nav-link--js{ 
    display: flex; 
    margin-right: 1.5rem; 
    position: relative; 
    &:hover{
      color: $color-hover-link;   
    } 
  }
  &__icon-link{
    top: -3px; 
    right: -23px; 
    position: absolute;
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-red; 
    transform: rotate(180deg);   
  }
  &__nav-link--js:hover &__icon-link{
    fill: $color-hover-link;
    transition: 0.2s;
  }
  &__contact{
    display: flex;
  }
  &__contact-link:link,
  &__contact-link:visited{
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: $color-contact-link;
    font-family: $font-secondary;
    font-size: 1.8rem;   
    font-weight: 300; 
    transition: 0.3s;
    &:not(:last-child){
      margin-right: 1.5rem;
    }
    &:hover{
      color: $color-red;       
    }
  }
  &__contact-icon{
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-contact-link; 
    &:not(:last-child){
      margin-right: 0.5rem; 
    }   
  }
  &__contact-link:hover &__contact-icon{
    fill: $color-red;
    transition: 0.2s;  
  }
}
